.gridContainer {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; /*Make the grid smaller than the container*/
  gap: 5px;
  background-color: #321940;
  /* color: #fff !important; */
  padding: 5px;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
